.ce-inline-toolbar {
  @apply --overlay-pane;

  transform: translateX(-50%) translateY(8px) scale(0.9);
  opacity: 0;
  visibility: hidden;
  transition: transform 150ms ease, opacity 250ms ease;
  will-change: transform, opacity;
  top: 0;
  left: 0;
  z-index: 3;

  &--showed {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
  }

  &--left-oriented {
    transform: translateX(-23px) translateY(8px) scale(0.9);
  }

  &--left-oriented&--showed {
    transform: translateX(-23px);
  }

  &--right-oriented {
    transform: translateX(-100%) translateY(8px) scale(0.9);
    margin-left: 23px;
  }

  &--right-oriented&--showed {
    transform: translateX(-100%);
  }

  [hidden] {
    display: none !important;
  }

  &__toggler-and-button-wrapper {
    display: flex;
    width: 100%;
  }

  &__buttons {
    display: flex;
  }

  &__dropdown {
    display: inline-flex;
    height: var(--toolbar-buttons-size);
    padding: 0 9px 0 10px;
    margin: 0;
    align-items: center;
    cursor: pointer;
    max-width: 190px;
    width: 190px;
    position: relative;
    box-sizing: border-box;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 1px;
      height: 24px;
      background: rgba(37, 37, 92, 0.1);
    }

    &:hover {
      background: var(--bg-light);
    }

    &--hidden {
      display: none;
    }

    &-content {
      display: flex;
      font-weight: 500;
      font-size: 14px;

      svg {
        height: 24px;
      }
    }

    &-icon {
      display: inline-flex;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;
      margin-right: 8px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &-text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 4px;
      font-weight: 400;
    }

    .icon--toggler-down {
      margin-left: auto;
    }
  }

  &__shortcut {
    opacity: 0.6;
    word-spacing: -3px;
    margin-top: 3px;
  }
}

.ce-inline-tool {
  @apply --toolbar-button;

  border-radius: 0;
  line-height: normal;
  width: auto;
  min-width: 36px;

  .icon {
    height: 24px;
  }

  &--link {
    .icon--unlink {
      display: none;
    }
  }

  &--unlink {
    .icon--link {
      display: none;
    }

    .icon--unlink {
      display: inline-block;
      margin-bottom: -1px;
    }
  }

  &-input {
    outline: none;
    border: 0;
    border-radius: 0 0 4px 4px;
    margin: 0;
    font-size: 13px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: none;
    font-weight: 500;
    border-top: 1px solid rgba(201, 201, 204, 0.48);

    &::placeholder {
      color: var(--grayText);
    }

    &--showed {
      display: block;
    }
  }

  &--active {
    color: #0075ff;
  }
}
